<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bibliotekasmadrid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioteKasMadrid"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".activitys.BusquedaLoc"
            android:exported="false" />
        <activity
            android:name=".activitys.BusquedaNombre"
            android:exported="false" />
        <activity
            android:name=".activitys.bibliotecas_bibliobuses"
            android:exported="false" />
        <activity
            android:name=".activitys.BibliotecasUniversitarias"
            android:exported="false" />
        <activity
            android:name=".activitys.SalasEstudio"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.ExtendedActivity"
            android:exported="false" />
    </application>

</manifest>